body{

font-family:Arial;

margin:40px;

max-width:500px;

}

button{

padding:10px;

margin:5px;

}

select{

width:100%;

height:40px;

}

input{

width:100%;

height:40px;

}

pre{

background:#eee;

padding:10px;

}